body {
  background-color: hsl(212, 45%, 89%);
  font-family: outfit;
}
.container {
  width: 18%;
  margin: auto;
  margin-top: 80px;
  margin-bottom: 40px;
  background-color: white;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
img {
  width: 100%;
  border-radius: 10px;
}
h4,
p {
  text-align: center;
  line-height: 18px;
}
p {
  font-size: 12px;
  color: rgb(175, 175, 175);
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
